@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    //Fonts
    --font-general: 'Montserrat', sans-serif;

    //Font-weights
    --font-regular: 300;
    --font-bold: 700;
}